#footer{
    padding: max(15px,2%);
    background: rgb(78, 74, 74);
    height: 93%;
    color:white;
    width:100%    
}
#footer>i, #footer>span {
    margin-bottom: 30px;
}
#footer-left>div {
    margin-top: 20px;
}