* {
    overflow-x: clip;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}
a{
    text-decoration: none !important;
}
.hr {
    display: inline-block;
    align-self: stretch;
    margin-left: 5%;
    min-width: 90%;
    height: 1px;
    background-color: black;
    opacity: 0.25;
}
.hide-outside-mobile, .hide-outside-tablet{
    display: none !important;
}
/*Anasayfa Css*/
div.carousel::after {
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(1, 10, 26);
    opacity: 40%;
}

.carousel .carousel-item {
    height: 95vh;
}

.carousel-item img {
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 95vh;
    min-width: 100vw;
    object-fit: cover;
}
.SmallSectionMiddle {
    overflow: visible!important;
}
.SmallSectionMiddle>*{
    width: 20%;
}

.red-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.red-section>img{
    width: 290px;
}

.red-text-area{
    background: #d13c3c;
    width: 45%;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 10px;
}
.red-text-area>p{
    margin-top: 30px;
    font-weight: 650;
}

 .flair {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 650;
    color: white;
    background: #d13c3c;
    display: flex;
    justify-content: center;
    padding: 10px;
 }
 .flair>a {
    color: white !important;
 }

@media only screen and (max-width:996px) {
    .col-on-tablet{
        flex-direction: column !important;
    }
    .hide-outside-tablet {
        display: inherit !important;
    }
    .hide-on-tablet{
        display: none !important;
    }
    .w-90-on-tablet {
        width: 90% !important;
        margin-left: 4% !important;
    }
}

@media only screen and (max-width:665px) {
    .hide-on-mobile{
        display: none !important;
    }
    .col-on-mobile {
        flex-direction: column !important;
    }
    .full-on-mobile {
        width: 100% !important;
    }
    .hide-outside-mobile {
        display: inherit !important;
    }
    .SmallSectionMiddle {
        width: 100%;
    }
    .move-right-on-mobile {
        margin-left:1000px !important;
    }
    .about-second {
        margin-left: 0 !important;
        margin-top: 10px !important;
        width: calc(100vw - 20px) !important;        
        height: 700px !important;
    }
    .about-second>.card{
        width: calc(100vw - 20px) !important;
        height: 400px !important;

    }
    .w-90-on-mobile {
        width: 90% !important;
        margin-left: 4% !important;
    }
}

/* about.html spesific css */
.about-second {
    overflow: visible;
    margin-bottom: 20px;
}
.about-second>.card {
    width: 360px; 
    height:360px;
    width: 100%;
    margin: 10px;
}

.about-third>.card {
    width: 10%
}

/* communication.html spesific css */

#send-message{
    width: 150px;
    align-self: baseline;
    border: none;
    background-color: grey;
    color: white;

}

.form-adjustments{
    margin-left: 100px;
    margin-right:600px;
    width: auto
}
.form-adjustments>* {
    width: auto
}
.form-adjustments>*>#subject{

    width: 600px;
}

#message {
    height: 119.975px;
}
.com {
    color: white;
    height: 600px;
    background-image: url(/components/images/LargePlaceholder.png);
    background-color: red;
    background-position: center center;
    background-size: cover;}
.com>* {
    z-index: 2;  
}
.com::before {
    content: "";
    background-color: rgba(126, 18, 18, 0.7);
    position: absolute;
    top: 105px;
    left: 0;
    width: 100%;
    height: 650px;
    z-index: 1;
}
@media only screen and (max-width:996px) {
    .com {
        height: 400px !important;
    }
    .com::before {
        height: 400px;
        top:56px;
    }
}

/*Product bölümü*/


article.card{
    width: 48%;
}

#product-page {
    width: fit-content;

}

#product-page>* {
    margin-left: 20px;
    margin-top: 20px;
}
#product-body>.vr{
    margin-top: 40px;
    margin-bottom: 40px;
}
#product-page>section {
    justify-content: space-between !important;
    height: 600px;

}
#product-page>section>.card{
    height: 550px;
}