<header id="header" class="bg-light">
    <a href="home.html">
        <img src="components/images/logo.svg" alt="logo">
    </a>
    <div class="container contact-list">
        <div class="row">
            <div class="col-auto">
                <img src="components/images/call.svg" alt="Telefon">
                <span>Telefon:</span>
                <br>
                <strong class="insert-main-phone">+ 90 533 000 00 00</strong>
            </div>
            <div class="col">
                <i class="vr"></i>
            </div>
            <div class="col-auto">
                <img src="components/images/mail.svg" alt="E-mail">
                <span>Email:</span> <br>
                <strong class="insert-main-email">a-really-Really-long-email@gmail.com</strong>
            </div>
        </div>

    </div>
</header>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg sticky-nav" id="header-navbar">
    <div class="navbar-brand">
        <a href="#">
            <img src="components/images/logo.svg" alt="Akpvc">
        </a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="components/images/menu.svg" alt="Menu">
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">

            <li class="nav-item">
                <button class="nav-link" onclick="window.location.href='home.html';"><span>Anasayfa</span></button>
            </li>

            <li class="nav-item">
                <button class="nav-link" onclick="window.location.href='about.html';">Hakkımızda</button>
            </li>

            <li class="nav-item">
                <button class="nav-link" onclick="window.location.href='product.html';"><span>Ürünlerinmiz</span></button>
            </li>

            <li class="nav-item">
                <button class="nav-link" onclick="window.location.href='communication.html';"><span>İletişim</span></button>
            </li>
        </ul>
    </div>
</nav>
</div>