.lower {
    position: relative;
    bottom: -6px;
    }
    .no-drag{
      pointer-events: none
    }
    
    /*Header start */
    /* The section above navigator*/
    #header{
      width:100%
    }

    #header a img{
      margin-top: 5px;
      margin-left: 14%;
      height: 100px;
      width: 243px;
      margin-bottom:0;
    }
    /*Contact Flair*/
    .contact-list {
      top: 30px;
      right:12%;
      position: absolute;
      width: auto;
      text-align: start;
      z-index: 1090;
      display:inline;
      height: 10px;
    }
    .contact-list div[class^='col-']  {
      height: 30px;
      }
    .contact-list *.vr   {
      
    height: 60px;
      width: 1px;
      }
      .contact-list div[class^='col-'] img{
        width:20px;
      }
    
    /*Navigator*/
    
    #header-navbar {
      background: #bd2020;
      padding: 0px;
      height:49px;
      z-index: 1900;
      width: 100%;
      position: sticky;
      top: -1px;
      border-bottom: #4e1414  4px solid;
    }
    #header-navbar>button:active{
      background: rgb(158, 32, 32);
    }
    #header-navbar>button{
        border: 0;
        margin-top: -2px;
    }
    #header-navbar> button:focus{
        box-shadow: none;
    }
    #header-navbar>button>img{
      height: 45px;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(188deg) brightness(102%) contrast(103%);
    }
    
    #header-navbar>div.navbar-brand{
      visibility: hidden;
    }
    #header-navbar>div.navbar-brand>a>img {
      height: 45px;
      width: 122px;
      margin-top: 1px;
      margin-left: 4px;
    }
    #navbarSupportedContent>span {
      font-size: 16px;
      margin-left: 4px;
    }
    #navbarSupportedContent>ul{
      margin-left: 0%;
    }
    #navbarSupportedContent>ul>li {
      list-style: none;
      display: inline-block;
      font-weight: 650;
      background: #bd2020;
      transition: background .5s ease, border-radius 1.1s ease;
    }
    #navbarSupportedContent>ul>li>button {
      height: 45px;
    }
    #navbarSupportedContent>ul>li:hover,#navbarSupportedContent>ul>li>button:focus  { 
      background: rgb(158, 32, 32) !important;
    
    }
    
    #navbarSupportedContent>ul>li>button{
      text-decoration: none; 
      margin-bottom: -0px;
      cursor: pointer;
      color: #e6e6e6;
    }
    
    
    /*General Tablet/Mobile Adjustments for header*/
    @media only screen and (max-width:996px){
    #header{
      display:none;
    }
    #navbarSupportedContent>ul{
      margin-left:0;
    }
    nav {
      height: 56px !important;
    }
    #navbarSupportedContent>ul>li {
      align-items: center;
      justify-content: center;
    }
    #navbarSupportedContent>ul>li>button{
      width: 100%;
    }
    
    div#header a img{
      margin-left:3px;
    }
    nav#header-navbar>div.navbar-brand{
     visibility: visible;
    }
    }